PMCXML6.tsv
structured_abstract_sections.pkl
models
clustering
averages.npy
embeddings.npy
classifier_model.pth
Processed_Headings
.ipynb_checkpoints
checkpoints
comparison
classifier_model_lower.pth
averages_lower.npy
embeddings_lower.npy
average_model
classifier_model
middle_files